body {
    margin: 0;
    font-family: poppins, sans-serif;
}

section.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0;
    background: #13213d;
    max-height: 75px;
}

nav.navbar {
    align-content: center;


}

img.Logo {
    max-width: auto;
    max-height: 65px;
    padding: 5px 20px;
}

nav.navbar ul {

    display: inline-flex;
    gap: 4vw;
    justify-content: flex-end;
    width: 85vw;
}

li.nav-links {
    list-style: none;
    font-size: 1 rem;
}

li.nav-links a {
    text-decoration: none;
    color: #fca311;
    font-weight: 600;
    text-wrap: wrap;
    overflow: hidden;
}

li.nav-links a:hover {
    color: #fff;
}

section.home-section1 {
    background: url('./imgs/Landing_Page_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
    min-height: 50vh;
}

section.home-section1 div {
    color: white;
    text-align: left;
    padding-top: 50vh;
    padding-bottom: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-flow: column wrap;
}

section.home-section1 h1 {
    font-size: 7vw;
    line-height: 1;
    margin: 0;
    padding: 20px 0;
    font-weight: 400;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 100px;
    white-space: nowrap;
    text-wrap: balance;


}

section.home-section1 h2 {
    font-size: 2.5vw;
    line-height: 1;
    margin: 0;
    padding: 20px 0;
    font-weight: 400;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 100px;
    white-space: nowrap;
    text-wrap: pretty;
}

section.home-section1 h2 span {
    color: #fca311;
}

section.home-section2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: url('./imgs/Landing_Page_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 20px 0 0;
}

section.home-section2 div:nth-of-type(even) {
    color: white;
    flex-wrap: wrap;
    font-size: 1.25em;
    font-weight: 600;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #13213d;
    display: flex;
    border: 2px ridge white;
    width: 300px;
    height: 120px;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 0 50px;


}

section.home-section2 div:nth-of-type(odd) {
    color: white;
    align-items: center;
    justify-content: center;
    background: #13213d;
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;


}

img.home-section2-icons {
    max-width: auto;
    max-height: 40px;

}

section.home-section3 {
    background: url('./imgs/Landing_Page_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
    min-height: 50vh;
}