body {
    margin: 0;
    font-family: poppins, sans-serif;
}

section.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background: #13213d
}

nav.navbar {
    align-content: center;


}

img.Logo {
    max-width: auto;
    max-height: 65px;
    padding: 5px 20px;
}

nav.navbar ul {

    display: inline-flex;
    gap: 4vw;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 85vw;
}

li.nav-links {
    list-style: none;
    font-size: 1 rem;
}

li.nav-links a {
    text-decoration: none;
    color: #fca311;
    font-weight: 600;

}

li.nav-links a:hover {
    color: #fff;

}

section.section1 {
    background: url('./imgs/Landing_Page_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    margin: 0;
}

section.section1 div {
    color: white;
    text-align: left;
    padding: 20% 15% 10% 10%;
    text-shadow: 2px 2px 4px #000000;
}

section.section1 h1 {
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

section.section1 h2 {
    font-size: 2rem;
    font-weight: 400;
}

section.section1 h2 span {
    color: #fca311;
}

section.section2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: url('./imgs/Landing_Page_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 20px 0 0;
}

section.section2 div:nth-of-type(even) {
    color: white;
    flex-wrap: wrap;
    font-size: 1.25em;
    font-weight: 600;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #13213d;
    display: flex;
    border: 1px solid white;
    width: 300px;
    height: 120px;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 0 50px;


}

section.section2 div:nth-of-type(odd) {
    color: white;
    align-items: center;
    justify-content: center;
    background: #13213d;
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;


}

img.section2-icons {
    max-width: auto;
    max-height: 40px;

}
}